footer {
    color: grey;
    width: 100%;
}

footer div {
    justify-content: space-between;
}
footer button {
    color:white;
    background-color: black;
    border: none;
}
.btnSocial {
    font-size: 25px;
}