footer {
    color: grey;
    width: 100%;
}

footer div {
    justify-content: space-between;
}
footer a, a:hover, a:visited {
    color:white;
    background-color: black;
    border: none;
    margin: 5px;
}
.btnSocial {
    font-size: 25px;
}

